<br>
<div class="col-md-10 mx-auto col-lg-5" id="login_div">
    <div class="modal-content rounded-4 shadow">

        <div class="modal-header p-5 pb-4 border-bottom-0">
            <h1 class="fw-bold mb-0 fs-2">Profile</h1>
            <a class="btn-close" href="{% url 'home' %}" style="margin-left: auto"></a>
            <br>
        </div>

        <div class="modal-body p-5 pt-0">
            <table>
                <tr><th>{{ profile.email }}</th></tr>
                <tr><th>{{ profile.last_name }} {{ profile.first_name }}</th></tr>
                <tr><th>{{ profile.birthday }}</th></tr>
                <tr><th>Subscribers</th><th id="subscribers"></th></tr>
                <tr><th>Subscriptions</th><th id="subscriptions"></th></tr>
            </table>
            <script>module_subscriptions.get_count_subscribers({{ profile.id }})</script>
            <script>module_subscriptions.get_count_subscriptions({{ profile.id }})</script>
        </div>

        {% if request.user.email != profile.email %}
            <div class="modal-body p-5 pt-0">
                {% csrf_token %}
                <button class="w-100 mb-2 btn btn-lg rounded-3 btn-outline-primary"
                        type="button"
                        name="like"
                        id="button_sub"
                        onclick="module_subscriptions.do_subscribe({{ request.user.id }}, {{ profile.id }})"></button>
            </div>
            <script>module_subscriptions.get_status_subscribe({{ request.user.id }}, {{ profile.id }})</script>
        {% endif %}

    </div>
</div>
