{% extends 'base/index.html' %}
{% load static %}


{% block content %}
    {% if subscriptions %}
        <br>
        <br>
        <div class="col-md-10 mx-auto col-lg-5">
            <div class="modal-content rounded-4 shadow">
                <div class="modal-header p-5 pb-4 border-bottom-0">
                    <a href="/profiles/{{ profile.user.id }}"><label class="fw-bold mb-0 fs-2" style="color: black">{{ profile.user.email }}</label></a>
                </div>
                <div class="modal-body p-5 pt-0">
                    <hr class="my-4">
                    <ul class="list-group">
                        {% for subscription in subscriptions %}
                        <li class="list-group-item"><a href="/profiles/{{ subscription.to_user.id }}"><label class="fw-bold mb-0 fs-5" style="color: black">{{ subscription.to_user.email }}</label></a></li>
                        {% endfor %}
                    </ul>

                </div>
            </div>
        </div>
    {% else %}
        <br>
        <br>
        <div class="col-md-10 mx-auto col-lg-5" id="login_div">
            <div class="modal-content rounded-4 shadow">
                <div class="modal-header p-5 pb-4 border-bottom-0">
                    <h1>Nothing yet</h1>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}


