div.container-fluid{
    font-weight: 700!important;
    padding-left: var(--bs-gutter-x, 2rem);
    padding-right: var(--bs-gutter-x, 2rem);
    margin-left: 1%;
    margin-right: 2.5rem;
}

#navbarDropdownMenuLink{
    font-weight: 700!important;
    color: rgba(0,0,0,.5);
}

.asteriskField {
    display: none;
}
